body {
    background-color: powderblue;
    text-align: center;
}
  
h1 {
    text-align: center;
}
  
.chessboardItem {
    side: 70px;
    height: 70px;
    position: relative;
}

.over {
    box-shadow: 0 0 0 3px yellow inset;
}

.whiteSquare {
    background-color: #f0d9b4;
}

.blackSquare {
    background-color: #b58863;
}

.hovered {
    border: 5px solid yellow;
}




